html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #1A1A1A;
}

.superiorPagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 125px;
    margin: 0;
    padding: 0;
    gap: 250px;
}

.barraNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.28);
}

.barraNavegacao a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    text-decoration: none;
    color: #ffffff;
}

#contato {
    width: 25%;
}

.barraNavegacao a.active {
    background-color: #8B0000;
    color: white;
}

.barraNavegacao a:hover:not(.active) {
    background-color: #E50914;
}

#logoEmpresa {
    height: 90px;
    margin-top: 10px;
    margin-left: 4%;
    flex: 0 0 auto;
}

.telefone {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 10%;
    text-align: right;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;

}

.logo {
    width: 20%;
}

.barraSuperior2 {
    width: 100%;
    height: 2px;
    background-color: #E50914;
}

.barraInferior2 {
    width: 100%;
    height: 2px;
    background-color: #E50914;
    margin: 0;
    padding: 0;
}


#imgTelefone,
#imgwpp {
    width: 30px;
    height: 30px;
}

#imgwpp:hover {
    transform: scale(1.30);
}

#numeroTelefone {
    text-align: right;
    margin: 0;
    margin-right: 5%;
}

#linkwpp {
    width: 30px;
    height: 30px;
}

.centroPagina {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-bottom: 100px;
}

.maisVendidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
    margin-bottom: 0;
    width: 100%;
    gap: 2%;

}

.maisVendidos img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
    gap: 0;
}

.tituloSecao {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.imagensInicio {
    display: flex;
    width: 100%;
    height: 773px;
    gap: 0.5%;
}

.imagemPrincipal {
    width: 616px;
}

.imagemLink {
    width: 100.7%;
    top: 475px;
}

.imagemLink:hover {
    transform: scale(1.05);
}

.divisaoImg {
    width: 33%;
}

.historia {
    display: block;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    color: #ffffff;
}

.centroPagina h2 {
    text-align: center;
    margin-left: 0;
    color: #fab60d;
    font-size: 30px;
}

.historia img {
    width: 50%;
    border: 1px solid #E50914;
    margin-left: 25%;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
    transition: transform 0.2s;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.nomeProduto {
    margin-top: 14px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.precoProduto {
    color: #E50914;
    font-weight: bold;
    font-size: 18px;
}

.prazoEntrega {
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
}

.localizacao {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    color: #ffffff;
    border: 2px solid #E50914;
    border-top: none;
}

.localizacao p,
h2 {
    text-align: left;
    color: #ffffff;
    margin-left: 5%;
    margin-top: 20px;
}

.localizacao h2 {
    margin-top: 5%;
}

.localizacao img {
    margin: 20px;
    height: 85%;
}

.imagemLocalizacao,
.enderecoLocalizacao {
    width: 50%;
}

.tituloSecao {
    color: #fab60d;
}

.inferiorPagina {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(to top, #1A1A1A, #0d0d0d);
}

.pagamento {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    color: #ffffff;
    border: 2px solid #E50914;
    border-top: none;
    border-left: none;
}

.cartaoPagamento,
.outrasFormasPagamento,
.cnpjEmail {
    width: 33.33%;

}

.cartaoPagamento h2 {
    width: 200%;
    margin: 0;
    margin-top: 7%;
    margin-left: 25%;
}

.cartaoPagamento p,
.outrasFormasPagamento p {
    margin-bottom: 12px;
}


.elo,
.mastercard,
.visa,
.amex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 32px;
}

.elo img {
    width: 43px;
    height: 18px;
    margin-left: 20px;
}

.mastercard img,
.visa img {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.amex img {
    width: 25px;
    height: 20px;
    padding: 8px;
    margin-left: 18px;
}

.boleto,
.deposito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 32px;
}

.boleto {
    margin-top: 60px;
}

.boleto img,
.deposito img {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.cnpjEmail {
    margin-top: 25px;
}

.cnpjEmail p {
    margin-bottom: 40px;
}

.botaoSaibaMais {
    width: 100%;
    height: 32px;
    background-color: #fab60d;
    color: #1A1A1A;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

#modalFigures,
#modalPersonalizados {
    display: none;
    background-color: #222;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: justify;
    border: 2px solid #E50914;
}

.produto {
    position: relative;
}

#modalFigures {
    position: absolute;
    top: 130%;
    left: 25%;
}

#modalPersonalizados {
    position: absolute;
    top: 200%;
    left: 25%;
}

#fecharModalFigures,
#fecharModalPersonalizados {
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 95.8%;
    background-color: #E50914;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.infoH,
.infoL {
    text-align: center;
}

.publi {
    display: flex;
    margin: 0;
}

.publi img {
    width: 35%;
    margin: 20px;
}

.dataPubli {
    margin-top: 0;
    margin-bottom: 50px;
    color: #fab60d;
    font-style: italic;
    font-size: 14px;
}

.dataPubli2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fab60d;
    font-style: italic;
    font-size: 20px;
}

.tabelaResultado {
    margin: 20px auto;
    border-collapse: collapse;
    color: white;
}

.tabelaResultado td {
    border: 1px solid #E50914;
    padding: 8px 16px;
}

.tabelaResultado .label {
    font-weight: bold;
    background-color: #222;
}

.botaoRetornar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    height: 35px;
    background-color: #E50914;
    cursor: pointer;
    border: 1px solid #E50914;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    color: #ffffffdc;
    margin-top: 20px;
}

.botaoRetornar:hover {
    background-color: #8B0000;
}


.botaoRetorno {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formPrincipal {
    background-color: #121212;
    height: 350px;
    width: 28%;
    padding-top: 20px;
}

.formContato {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    background-color: #121212;
    border: none;
    border-bottom: 2px solid #E50914;
    width: 100%;
    font-size: 16px;
    color: #ffffffdc;
}

.termoAceite {
    width: 5%;
}

.labelTermoAceite {
    margin-left: 10px;
    color: #ffffffdc;
}

.termoServico {
    color: blue;
}

input::placeholder {
    color: #ffffffdc;
}

.formGrupo {
    display: flex;
    flex-direction: row;
    margin: 25px;

}

.formGrupo img {
    width: 25px;
    margin-right: 10px;
}

.formSubmit {
    background-color: #E50914;
    border: 1px solid #E50914;
    border-radius: 4px;
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
}

.formSubmit:hover {
    background-color: #8B0000;
}

.imagemPrincipal {
    position: absolute;
}

.imagemLink {
    position: relative;
}

#dadosTabela {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

#dadosTabela th {
    width: 175px;
    height: 35px;
    background-color: rgb(34, 34, 34);
    border: 1px solid #E50914;
    border-collapse: collapse;
    color: white;
    text-align: left;
    padding-left: 10px;
}

#dadosTabela td {
    width: 250px;
    background-color: rgb(34, 34, 34);
    border: 1px solid #E50914;
    border-collapse: collapse;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.formPrincipalProduto {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fomrProduto {
    background-color: #121212;
    width: 28%;
}

.formProduto label {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.formProduto textarea {
    color: white;
    font-size: 18px;
    background-color: #121212;
    border: 1px solid #E50914;
}

.formProduto input {
    color: white;
    font-size: 18px;
    height: 30px;
}

.formImagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.inserirImg {
    display: none;
}

.botaoEscolherImagem {
    background-color: #E50914;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.botaoEscolherImagem:hover {
    background-color: #8B0000;
}

.nomeImagem {
    color: #ffffffdc;
    font-size: 14px;
    font-style: italic;
}

.formCadastrarVoltar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formCadastrar {
    background-color: #E50914;
    border: 1px solid #E50914;
    border-radius: 8px;
    height: 45px;
    width: 50%;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.formCadastrar:hover {
    background-color: #8B0000;
}

.formVoltarLista {
    background-color: #444;
    border: 1px solid #222;
    border-radius: 8px;
    height: 45px;
    width: 50%;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.formVoltarLista:hover {
    background-color: #666;
}

select {
    background-color: #1A1A1A;
    color: #ffffffdc;
    border: 2px solid #E50914;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

select:hover,
select:focus {
    border-color: #8B0000;
    background-color: #2a2a2a;
    color: #fff;
}

select::-ms-expand {
    display: none;
}

select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tabelaProdutos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 100px;
    border-collapse: collapse;
    border: 1px solid #8B0000;
    width: 90%;
}

.tabelaProdutos tbody {
    min-width: 100%;
}

.tabelaProdutos th,
.tabelaProdutos tr {
    color: #fff;
}

.tabelaProdutos td {
    border-bottom: 1px solid #8B0000;
    border-top: 1px solid #8B0000;
}

.cabeçalhoProdutos {
    height: 50px;
}

.linhasProdutos {
    height: 91px;
    width: 100%;
    text-align: center;
}

.tabelaProdutos tr:nth-child(odd) {
    background-color: #1a1a1a;
}

.tabelaProdutos tr:nth-child(even) {
    background-color: #222
}

.tabelaProdutos th {
    width: 300px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #E50914;
}

.tabelaProdutos img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
    border: 1px solid #222;
}

#descTabela {
    width: 500px;
}

.adicionarProduto {
    display: flex;
}

.novoProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    color: white;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px #8B0000;
    position: relative;
    margin: 30px auto;
}

#mensagemSucesso {
    text-align: center;
    color: rgb(40, 247, 40);
    margin-top: 10px;
}


.dataAcesso {
    text-align: center;
    color: white;
}

.botaoExcluir {
    margin-left: 30px;
    width: 20px;
    height: 20px;
}

.botaoEditar {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.tituloExcluir {
    color: #f9b000;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
}

.cardExclusao {
    background-color: #1a1a1a;
    padding: 25px;
    border: 1px solid #8B0000;
    border-radius: 12px;
    box-shadow: 0 0 15px #8B0000;
    max-width: 800px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

}

.conteudoExclusao {
    flex: 1 1 55%;
    color: #ccc;
    font-size: 1.1em;
    line-height: 2em;
}

.imagemExclusao {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.imagemExclusao img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.botoesExclusao {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.botaoExcluirConfirmar {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.botaoExcluirConfirmar:hover {
    background-color: #8B0000;
}

.botaoCancelar {
    background-color: #444;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    width: 120px;
    font-size: 16px;
}

.botaoCancelar:hover {
    background-color: #666;
    color: #fff;
}

.barraLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.28);
}

.barraLogin a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    text-decoration: none;
    color: #ffffff;
}

.barraLogin a:hover {
    background-color: #8B0000;
}

#botaoSair {
    width: 100%;
}

.modalLoginCadastro {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.conteudoModal {
    position: relative;
    background-color: #121212;
    margin: 8% auto;
    padding: 50px 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 20px #E50914;
    text-align: center;
    color: #ffffffdc;
    border: 2px solid #E50914;
}

.conteudoModal input[type="text"],
.conteudoModal input[type="password"],
.conteudoModal input[type="tel"] {
    background-color: #1A1A1A;
    border: none;
    border-bottom: 2px solid #E50914;
    width: 90%;
    font-size: 16px;
    color: #ffffffdc;
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
}

.conteudoModal input[type="submit"] {
    background-color: #E50914;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 331px;
}

.conteudoModal input[type="submit"]:hover {
    background-color: #8B0000;
}

.fecharLoginCadastro {
    position: absolute;
    height: 20px;
    top: 8px;
    right: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #E50914;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fecharLoginCadastro:hover {
    background-color: #8B0000;
}

.modalLoginAltura {
    min-height: 120px;
}

.modalCadastroAltura {
    min-height: 260px;
}

.mostrar-senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 0;
}

.mostrar-senha input[type="checkbox"] {
    margin: 10px;
    transform: scale(1.2);
    width: 20px;
    margin-left: 10px;
}

#mostrarSenhaCadastro {
    margin: 0;
    transform: scale(1.2);
    width: 20px;
    margin-left: 10px;
}

.mostrar-senha label {
    margin: 0;
    font-size: 14px;
    color: #ffffffdc;
}