body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #1A1A1A;
}

.superiorHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 125px;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.barraNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.28);
}

.barraNavegacao a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 45px;
    text-decoration: none;
    color: #ffffff;
}

#servicos,
#contato {
    width: 25%;
}

.barraNavegacao a.active {
    background-color: #8B0000;
    color: white;
}

.barraNavegacao a:hover:not(.active) {
    background-color: #E50914;
}

#logoEmpresa {
    height: 90px;
    margin-top: 10px;
    margin-left: 4%;
    flex: 0 0 auto;
}

.telefone {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 33.33%;
    text-align: right;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;

}

.logo {
    width: 33.33%;
}

.barraSuperior2 {
    width: 100%;
    height: 2px;
    background-color: #E50914;
}

.barraInferior2 {
    width: 100%;
    height: 2px;
    background-color: #E50914;
    margin: 0;
    padding: 0;
}


#imgTelefone {
    width: 30px;
    height: 30px;
}

#imgwpp {
    width: 30px;
    height: 30px;
}

#numeroTelefone {
    text-align: right;
    margin: 0;
    margin-right: 5%;
}

#linkwpp {
    width: 30px;
    height: 30px;
}

.centroHome {
    gap: 0;
    margin: 1%;
    margin-bottom: 100px;

}

.centroHome img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
    gap: 0;
}

.fundos {
    width: 33%;
    box-shadow: 0 5px 30px 0 rgba(255, 0, 0, 0.205);
    border-radius: 4px;
}

.imagensInicio {
    display: flex;
    gap: 0.5%;
}

.centroHome h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.maisvendidos {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.produto {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
    transition: transform 0.2s;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.nomeProduto {
    margin-top: 14px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.precoProduto {
    color: #E50914;
    font-weight: bold;
    font-size: 18px;
}

.prazoEntrega {
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
}

.localizacao {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    color: #ffffff;
    border: 2px solid #E50914;
    border-top: none;
}

.localizacao p,
h2 {
    text-align: left;
    color: #ffffff;
    margin-left: 5%;
    margin-top: 20px;
}

.localizacao h2 {
    margin-top: 5%;
}

.localizacao img {
    margin: 20px;
    height: 85%;
}

.imagemLocalizacao,
.enderecoLocalizacao {
    width: 50%;
}

.tituloSecao {
    color: #fab60d;
}

.inferiorHome {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(to top, #1A1A1A, #0d0d0d);
}

.pagamento {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 250px;
    color: #ffffff;
    border: 2px solid #E50914;
    border-top: none;
    border-left: none;
}

.cartaoPagamento,
.outrasFormasPagamento,
.cnpjEmail {
    width: 33.33%;

}

.cartaoPagamento h2 {
    width: 200%;
    margin: 0;
    margin-top: 7%;
    margin-left: 25%;
}

.cartaoPagamento p,
.outrasFormasPagamento p {
    margin-bottom: 12px;
}


.elo,
.mastercard,
.visa,
.amex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 32px;
}

.elo img {
    width: 43px;
    height: 18px;
    margin-left: 20px;
}

.mastercard img,
.visa img {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.amex img {
    width: 25px;
    height: 20px;
    padding: 8px;
    margin-left: 18px;
}

.boleto,
.deposito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 32px;
}

.boleto {
    margin-top: 60px;
}

.boleto img,
.deposito img {
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.cnpjEmail {
    margin-top: 25px;
}

.botaoSaibaMais {
    width: 100%;
    height: 30px;
    background-color: #fab60d;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

#saibaMais {
    display: none;
    background-color: #222;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: justify;
    border: 2px solid #E50914;
}

.produto {
    position: relative;
}

.modal {
    position: absolute;
    top: 130%;
    left: 39%;
}

#fecharBotaoSaibaMais {
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 90%;
    background-color: #E50914;
    width: 35px;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
